{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'" src="{{ .bg_image_webp | absURL }}" />

	<div class="block">
		{{ if .icon }}
		<div class="video-button">
			<i class="{{ .icon }}"></i>
		</div>
		{{ end }}
		<h1>{{ .title | markdownify }}</h1>
		<h2>{{ .tagline | markdownify}}</h2>
		<p>{{ .content | markdownify }}</p>
		{{ if .button_primary.enable }}
		{{ with .button_primary }}
		<a href="{{ .link }}" class="btn btn-main">{{ .label }} </a>
		{{ end }}
		{{ end }}

		{{ if .button_secondary.enable }}
		{{ with .button_secondary }}
		<a href="{{ .link }}" class="btn btn-transparent">{{ .label }} </span></a>
		{{ end }}
		{{ end }}
	</div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}