{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.schedule.schedule.enable }}
{{ with $data.schedule.schedule }}
{{"<!-- Start Schedule Section -->" | safeHTML}}
<section class="bg-dark section schedule" id="schedule">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2> {{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with .title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
		</div>
			{{"<!-- /section title -->" | safeHTML}}
		<div>
			{{ range .schedule_item }}
			{{"<!-- Schedule item -->" | safeHTML}}
			<div class="row block wow fadeInUp" data-wow-duration="500ms">
				<!-- <div class="block"> -->
					<div class="col-md-3">
					<div class="icon-box text-center">
						{{with .icon}}<i class="{{ . }}"></i>{{ end }}
					</div>
					</div>
					<div class="col-md-1"></div>
					{{"<!-- Express Schedule Yourself -->" | safeHTML}}
					<div class="content col-md-8 mt-4 text-md-left text-center">
						<h3>{{ .title }}</h3>
						<h4>{{ .time }}</h4>
						<p>{{ .description | markdownify }}</p>
					</div>
				<!-- </div> -->
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /schedule -->" | safeHTML}}
{{ end }}
{{ end }}
